html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-width: 100vw;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #000;
  }
  .ql-editor {
    color: #000;
  }
}
